body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* Disable scrolling */
}

.log-in-as,
.log-in-as * {
  box-sizing: border-box;
}
.log-in-as {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #030391;
  width: 288px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.logo {
  position: absolute;
  inset: 0;
}
.group-4 {
  width: 174px;
  height: 96px;
  position: static;
}
.hcmut-ssps {
  color: #f7f5f6;
  text-align: center;
  font-family: "Arial-Bold", sans-serif;
  font-size: 48px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 97px;
  top: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._01-logobachkhoatoi-1 {
  width: 167px;
  height: 118px;
  position: absolute;
  left: -39px;
  top: 36px;
  object-fit: cover;
}

.ng-nh-p-v-i-t-c-ch-l {
  color: #030391;
  text-align: center;
  font-family: "Arial-Bold", sans-serif;
  font-size: 40px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 700;
  position: absolute;
  left: 392px;
  top: 240px;
}

.trang-chu {
  border-radius: var(--corner-large, 16px);
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  width: 240px;
  position: absolute;
  left: 24px;
  top: 202px;
  cursor: pointer;
}
.vector {
  flex-shrink: 0;
  width: 18px;
  height: 20.02px;
  position: relative;
  overflow: visible;
}
.trang-chu2 {
  color: #ffffff;
  text-align: left;
  font-family: "Arial-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

.trang-chu:hover .vector,
.trang-chu:hover .trang-chu2 {
  opacity: 0.8; 
  transition: all 0.3s ease;
}
.khac {
  border-radius: var(--corner-large, 16px);
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  width: 240px;
  position: absolute;
  left: 24px;
  top: 250px;
  cursor: pointer;
}
.vector2 {
  flex-shrink: 0;
  width: 18px;
  height: 4px;
  position: relative;
  overflow: visible;
}
.khac2 {
  color: #ffffff;
  text-align: left;
  font-family: "Arial-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.khac:hover .vector2,
.khac:hover .khac2 {
  opacity: 0.8; 
  transition: all 0.3s ease;
}
.login1 {
  border-radius: var(--corner-small, 8px);
  border-style: solid;
  border-color: #1488db;
  border-width: 1px;
  padding: 20px 80px 20px 80px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 56px;
  position: absolute;
  left: 670px;
  top: 340px;
}
.sinh-vien {
  color: #373a40;
  text-align: center;
  font-family: "Arial-Regular", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: relative;
}

.login2 {
  border-radius: var(--corner-small, 8px);
  border-style: solid;
  border-color: #1488db;
  border-width: 1px;
  padding: 20px 80px 20px 80px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 56px;
  position: absolute;
  left: 670px;
  top: 430px;
}

.spso {
  color: #373a40;
  text-align: center;
  font-family: "Arial-Regular", sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: relative;
}

.login1:hover {
  background-color: rgba(0, 136, 255, 0.986);       
}

.login2:hover {
  background-color: rgba(0, 136, 255, 0.986);    
}