.menu-item:hover {
  transform: scale(1.05); /* Slightly scale the icon and text */
}

a {
  text-decoration: none;
}

/* Button hover effect */
.login-button {
  transition: all 0.3s ease; /* Smooth transition for all changes */
}

.login-button:hover {
  background-color: #1488db; /* Blue background */
  color: white; /* White text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
}

/* To ensure the span inside the button also changes color */
.login-button:hover span {
  color: white;
}
